@import url('http://fonts.googleapis.com/css?family=Roboto:500|Roboto+Mono:300,400,500');

body {
    margin: 0;
    background-color: #f2f2f2;
}
.content { width: 100% }
.top {
	position: fixed;
	height: 5em;
	background-color: #689f38;
	z-index: 3;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.75);
}
.top h1 {
	color: #fff;
	font-size: 1.5em;
	font-weight: 500;
	text-align: center;
}
a { text-decoration: none }
.nav { padding-top: 0.5em; }
.bottom, .content, .top, .bottom > div { width: 100% }
.bottom {
	display: inline-block;
	margin-bottom: -3px;
	padding-top: 6em;
}
.interstitial {
	height: 50px;
	max-width: 1240px;
	margin: 0 auto;
	color: #000;
	text-align: right;
}
.footer-content { max-width: 1240px; margin: 0 auto; }
.bottom a {
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	transition: color .2s ease;
	color: #888;
}
.bottom a:hover { color: #000 }
.interstitial a { padding-left: 20px }
.pad { padding: 0 16px }
.footer {
	height: 6em;
	background-color: #fff;
}
.footer .pad > div { display: inline-block; width: 50% }
.footer img { padding-top: 1.5em }
.footer p {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #555;
}
.pad div:last-child > p:first-child { padding-top: .8em }
h1, h2, h3 {
    font-family: 'Roboto Mono', 'Consolas', monospace;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.lesson-header {
	max-width: 1240px;
	padding: 6em 0 0;
	margin: 0 auto;
}
.lesson-header h2 {
	font-size: 1.3em;
}
.lessons {
	z-index: 0;
	max-width: 1240px;
	padding: .3em 0 0;
	width: 100%;
	display: block;
	margin: 0 auto;
	list-style: none;
}
#lessons::after {visibility: hidden; clear: both}
.lesson {
	display: inline-block;
	width: 50%;
	padding: 0;
	vertical-align: top;
	height: 300px;
	float: left;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
	background-size: cover;
	background-position: center;
}
.lesson:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
	opacity: 0.7;
}
.bullet {
	color: rgba(255,255,255,0.5);
	padding: 0 5px;
	font-size: 20px;
}
@media screen and (max-width: 600px) {
	.lesson, .interstitial { width: 100% }
	.pad div:last-child > p:first-child { padding-top: .3em }
	.footer { height: 8em }
	.lesson-header h2 { margin-left: 1em }
}
.lesson h2 {
	padding: 30px;
	margin: 0;
	color: #fff;
	word-wrap: break-word;
}
